.app-results {
    a {
        text-decoration: none;
        color: $dark;

        span {
            @include text-truncate;
            display: block;
            height: 24px;
        }
        img {
            width: 100%;
        }
    }
}