#donate-page {
    .patreon {
        background-color: #F74E3E;
        color: white;
    }
    .paypal {
        background-color: #162751;
        color: white;
    }
    .bitcoin {
        background-color: #F38017;
        color: white;
    }
}