body {
    overflow-y: scroll;
    margin-top: 76px;
    background-color: $dark;
}

.navbar-brand {
    background-color: #5cb85c;
    display: inline-block;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.jumbotron {
    padding: 2rem;
    margin-top: 2rem;
    .lead {
        margin: 0;
    }
}

.small-print {
    margin: 50px 0;
    display: block;
}

[data-link] {
    cursor: pointer;
}

.card-header-tabs {
    a {
        color: $dark;
    }
}

td.platforms {
    font-size: 26px;
    line-height: 28px;
    i, svg {
        margin-right: 5px;
    }
    i:last-child, svg:last-child {
        margin-right: 0;
    }
}
