@mixin rounded() {
    border-radius: .3rem !important;
}

@mixin tag() {
    .list-group {
        svg,
        i {
            float: left;
            width: 30px;
            height: 30px;
            margin: 10px 10px 0 -2px;
        }
        h6 {
            @include text-truncate;
            height: 19px;
        }
    }
}