#player-page {
    .jumbotron {
        img {
            float: left;
            height: 169px;
            margin: -2rem;
        }
        h1,
        p.lead {
            margin-left: 160px;
        }

        .badge {
            line-height: 36px;
        }
    }
}