#player-page {
    .jumbotron {
        img {
            @include rounded;
            float: left;
            height: 169px;
            margin: -2rem;
        }
        h1,
        p.lead {
            margin-left: 160px;
        }
    }
}