.table-images {

    td.img {

        padding: 0;

        img {
            height: 36px;
        }

        span {
            display: inline-block;
            margin: .3rem;
        }
    }
}

table.table-sorter {

    thead tr{

        .header {
            background-image: url(/assets/img/tablesorter/bg.gif);
            background-repeat: no-repeat;
            background-position: center left;
            cursor: pointer;
            padding-left: 20px;
        }

        .headerSortUp {
            background-image: url(/assets/img/tablesorter/asc.gif);
            text-decoration: underline;
        }

        .headerSortDown {
            background-image: url(/assets/img/tablesorter/desc.gif);
            text-decoration: underline;
        }
    }
}
