body {
    overflow-y: scroll;
}

.navbar-brand {
    @include rounded;
    background-color: #5cb85c;
    display: inline-block;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.jumbotron {
    @include rounded;
    padding: 2rem;
    margin-top: 2rem;

    .lead {
        margin: 0;
    }
}
