@import "mixins";

body {
    overflow-y: scroll;
}

/* Navbar */
.navbar-brand {
    @include rounded;
    background-color: #5cb85c;
    display: inline-block;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.jumbotron {
    @include rounded;
    padding: 2rem;
    margin-top: 2rem;

    .lead {
        margin: 0;
    }
}

/* Media lists */
li.media {

    img {
        width: 52px;
        height: 52px;
    }

    p {
        margin-bottom: 1rem;
    }
}

li.media:last-child p {
    margin-bottom: 0;
}

.card-body .list-unstyled {
    margin-bottom: 0;
}

#player-page .jumbotron img {
    height: 3.5rem;
    vertical-align: text-bottom;
}
