body {
    overflow-y: scroll;
}

.rounded {
    border-radius: .3rem !important;
}

/* Navbar */
.navbar-brand {
    border-radius: 50%;
    background-color: #5cb85c;
    display: inline-block;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.jumbotron {
    padding: 2rem;
    margin-top: 2rem;

    .lead {
        margin: 0;
    }
}

.app-results {

    a {
        /*color: #212529;*/
        text-decoration: none;
    }

    span {
        display: block;
        height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        width: 100%;
    }
}

/* App */
.app-header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    padding: 2rem 0;
}

.app-header .jumbotron {
    margin-top: 0;
}

/* Media lists */
li.media {

    img {
        width: 52px;
        height: 52px;
    }

    p {
        margin-bottom: 1rem;
    }
}

li.media:last-child p {
    margin-bottom: 0;
}

.card-body .list-unstyled {
    margin-bottom: 0;
}

#player-page .jumbotron img {
    height: 3.5rem;
    vertical-align: text-bottom;
}
