#tags-page .list-group {

    svg, i {
        float: left;
        width: 30px;
        height: 30px;
        margin: 13px 10px 0px -6px;
    }

    h6 {
        @include text-truncate;
        height: 19px;
    }
}
