body {
    overflow-y: scroll;
}

/* Jumbotron */
.jumbotron {
    padding: 2rem;
    margin-top: 2rem;
}

.jumbotron .lead{
    margin: 0;
}

/* Tables */
.table-ranks tr[data-link]{
    cursor: pointer;
}

.table-ranks td.img{
    padding: 0;
}
.table-ranks td.img span{
    display: inline-block;
    margin: .3rem;
}

.table-ranks img{
    height: 36px;
    /* margin: -4px 0px -4px 0; */
}

.table-ranks img.avatar{
    margin-right: 5px;
}

/* App Results */
.app-results a{
    color: #212529;
    text-decoration: none;
}

.app-results span{
    display: block;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-results img{
    width: 100%;
    border-radius: .3rem;
}

/* App */
.app-header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    padding: 2rem 0;
}

.app-header .jumbotron {
    margin-top: 0;
}

/* Media lists */
li.media img{
    width: 52px;
    height: 52px;
}

li.media p{
    margin-bottom: 1rem;
}

li.media:last-child p{
    margin-bottom: 0;
}

.card-body .list-unstyled{
    margin-bottom: 0;
}
