body {
    overflow-y: scroll;
}

nav.navbar {
    margin-bottom: 20px;
}

.jumbotron {
    padding: 2rem;
}

.jumbotron .lead{
    margin: 0;
}

.table-ranks tr[data-link]{
    cursor: pointer;
}

.table-ranks td.img{
    padding: 0;
}
.table-ranks td.img span{
    display: inline-block;
    margin: .3rem;
}

.table-ranks img{
    height: 36px;
    /* margin: -4px 0px -4px 0; */
}

.table-ranks img.avatar{
    margin-right: 5px;
}
