{{define "admin"}} {{ template "_header" . }}

<div class="container" id="admin-page">

    <div class="jumbotron">
        <h1 class="display-4">Admin</h1>
    </div>

    <div class="row">
        <div class="col-sm">

            <div class="list-group" id="actions">
                <a href="/admin/apps" class="list-group-item list-group-item-action flex-column align-items-start">
                    <small class="text-muted float-right" data-livestamp="0">0</small>
                    <h5 class="mb-1">Apps</h5>
                    <p class="mb-1">Get every app from steam and add to queue</p>
                </a>
            {{ if .IsProduction }}
                <a href="/admin/deploy" class="list-group-item list-group-item-action flex-column align-items-start">
                    <small class="text-muted float-right" data-livestamp="0">0</small>
                    <h5 class="mb-1">Deploy</h5>
                    <p class="mb-1">Pull master, build and restart</p>
                </a>
            {{end}}
                <a href="/admin/donations" class="list-group-item list-group-item-action flex-column align-items-start">
                    <small class="text-muted float-right" data-livestamp="0">0</small>
                    <h5 class="mb-1">Donations</h5>
                    <p class="mb-1">Read donations table and calculate totals</p>
                </a>
                <a href="/admin/genres" class="list-group-item list-group-item-action flex-column align-items-start">
                    <small class="text-muted float-right" data-livestamp="0">0</small>
                    <h5 class="mb-1">Genres</h5>
                    <p class="mb-1">Scan all apps for genres, count them, update genres table</p>
                </a>
                <a href="/admin/ranks" class="list-group-item list-group-item-action flex-column align-items-start">
                    <small class="text-muted float-right" data-livestamp="0">0</small>
                    <h5 class="mb-1">Ranks</h5>
                    <p class="mb-1">Scan all players, update ranks table</p>
                </a>
                <a href="/admin/tags" class="list-group-item list-group-item-action flex-column align-items-start">
                    <small class="text-muted float-right" data-livestamp="0">0</small>
                    <h5 class="mb-1">Tags</h5>
                    <p class="mb-1">Scan all apps for tags, count them, update tags table</p>
                </a>
            </div>

        </div>
        <div class="col-sm">


        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}
