{{define "app"}} {{ template "header" . }}

<div class="container" id="app-page">

    <div class="jumbotron">
        <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{ .App.ID }}/header.jpg" alt="{{ .App.GetName }}" class="rounded-right"
             onError="delete this; this.onerror=null;this.src='/assets/img/no-app-image.jpg';">
        <h1 class="display-4">{{.App.Name}}</h1>
        <p class="lead">x</p>
    </div>

{{ range $k, $v := .Banners }}
    <div class="alert alert-{{ $k }}" role="alert">
    {{ range $kk, $vv := $v }}
        <div>{{ $vv }}</div>
    {{ end }}
    </div>
{{ end }}

    <div class="card">
        <div class="card-header bg-light text-white">

            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#details" role="tab">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#media" role="tab">Media ({{ len .App.GetScreenshots }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#achievements" role="tab">Achievements ({{ .App.GetAchievements.Total }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#news" role="tab">News ({{ len .Articles }})</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane show active" id="details" role="tabpanel">

                    <p>Game: <a href="/apps/{{ .App.GameID }}">{{ .App.GameName }}</a></p>
                    <p>App Type: {{ .App.Type }}</p>
                    <p>Release State: {{ .App.ReleaseState }}</p>
                    <p>OS': {{ .App.GetPlatforms }}</p>

                {{ if gt .App.MetacriticScore 0 }}
                    <p>Metacritic Score:
                        <a href="{{ .App.MetacriticFullURL }}">{{ .App.MetacriticScore }}</a>
                    </p>
                {{end}}

                    <p>Store Tags: {{ .App.StoreTags }}</p>
                    <p>Genres: {{ .App.GetGenres }}</p>
                    <p>Homepage: {{ .App.Homepage }}</p>
                    <p>Change Number:
                        <a href="/changes/{{ .App.ChangeNumber }}">{{ .App.ChangeNumber }}</a>
                    </p>

                    <h5>Included in these packages</h5>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                            <th scope="col">Package ID</th>
                            <th scope="col">Billing</th>
                            <th scope="col">License</th>
                            <th scope="col">Status</th>
                            <th scope="col">Apps</th>
                            </thead>
                        {{ range $key, $value := .Packages }}
                            <tr>
                                <td>
                                    <a href="/packages/{{.ID}}">{{.ID}}</a>
                                </td>
                                <td>{{ .BillingType }}</td>
                                <td>{{ .LicenseType }}</td>
                                <td>{{ .Status }}</td>
                                <td>{{ len .Apps }}</td>
                                <!-- <td>{{.ChangeID}}</td> -->
                            </tr>
                        {{ end }}
                        </table>
                    </div>

                </div>
                <div class="tab-pane" id="media" role="tabpanel">

                    <div style="width:70%;">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                            {{ range $key, $value := .App.GetScreenshots }}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ $key }}" class="{{if eq $key 0}}active{{end}}"></li>
                            {{ end }}
                            </ol>
                            <div class="carousel-inner">
                            {{ range $key, $value := .App.GetScreenshots }}
                                <div class="carousel-item {{if eq $key 0}}active{{end}}">
                                    <img class="d-block w-100" style="width:50%;" src="{{ .PathFull }}" alt="Slide {{ $key }}">
                                </div>
                            {{ end }}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="achievements" role="tabpanel">Achs</div>
                <div class="tab-pane" id="news" role="tabpanel">

                {{ range $key, $value := .Articles }}
                    <h5>{{ .Title }}</h5>
                    <blockquote class="blockquote mb-4">
                        <p class="mb-0">{{ .Contents }}</p>
                        <footer class="blockquote-footer">{{ .Author }}</footer>
                    </blockquote>

                {{ end }}

                </div>
            </div>
        </div>
    </div>

</div>

{{ template "footer" }} {{end}}