{{define "apps"}} {{ template "header" }}

<input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">My Library</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Latest Updated</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

{{ template "footer" }} {{end}}