{{define "apps"}} {{ template "_header" . }}
<div class="container">

    <form action="/apps" method="get" data-persist="garlicx" data-destroy="false">

        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6">

                    <h1 class="display-4">Games</h1>
                    <p class="lead">A live database of {{ .Count }} Steam games</p>

                </div>
                <div class="col-sm-6">

                    <div class="input-group input-group-lg mt-4">
                        <input class="form-control" type="text" placeholder="Search for a Game" name="name" autocomplete="off" onkeydown="clearField(event, this);">
                        <div class="input-group-append">
                            <input type="submit" value="Search" class="input-group-text">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Operating System</label>
                            <select multiple data-placeholder="Choose an OS" class="form-control form-control-chosen" id="exampleFormControlSelect1" name="platforms">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Tag</label>
                            <select multiple data-placeholder="Choose Tags" class="form-control form-control-chosen" id="exampleFormControlSelect1" name="tags">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Genre</label>
                            <select multiple data-placeholder="Choose Genres" class="form-control form-control-chosen" id="exampleFormControlSelect1" name="genres">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Type</label>
                            <select multiple data-placeholder="Choose Types" class="form-control form-control-chosen" id="exampleFormControlSelect1" name="types">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Release State</label>
                            <select multiple data-placeholder="Choose States" class="form-control form-control-chosen" id="exampleFormControlSelect1" name="states">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Virtual Reality</label>
                            <select multiple data-placeholder="Choose VR Options" class="form-control form-control-chosen" id="exampleFormControlSelect1" name="vr">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Developer</label>
                            <select multiple data-placeholder="Choose Developers" class="form-control form-control-chosen" id="exampleFormControlSelect1" name="developers">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Publisher</label>
                            <select multiple data-placeholder="Choose Publishers" class="form-control form-control-chosen" id="exampleFormControlSelect1" name="publishers">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Language</label>
                            <select multiple data-placeholder="Choose Languages" class="form-control form-control-chosen" id="exampleFormControlSelect1" name="languages">
                                <option value=""></option>
                                <option value="windows">Windows</option>
                                <option value="macos">MacOS</option>
                                <option value="linux">Linux</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-success btn-block">Search</button>
                    </div>
                </div>

            </div>
        </div>

    </form>

    <div class="card">
        <div class="card-body">

            <div class="row app-results">
            {{ range $key, $value := .Apps }}

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <a href="{{ .GetPath }}">
                        <span>{{ .GetName }}</span>
                        <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{ .ID }}/header.jpg" alt="{{ .GetName }}" class="rounded"
                             onError="this.onerror=null;this.src='/assets/img/no-app-image.jpg';">
                    </a>
                </div>

            {{ end }}
            </div>

        </div>
    </div>

</div>
{{ template "_footer" }} {{end}}
