{{define "changes"}} {{ template "header" }}

<h1>Changes</h1>

{{ range $key, $value := .Changes }}

<h5>
  <a href="/changes/{{ .ChangeID }}">{{ .ChangeID }}</a>
</h5>

{{ end }}

<script>
  // Handle WebSockets
  if (window.WebSocket === undefined) {
    console.log('Your browser does not support WebSockets');
  } else {
    var socket = new WebSocket("ws://" + location.host + "/websocket");

    socket.onopen = function (e) {
      console.log('WebSocket opened');
    };
    socket.onclose = function (e) {
      console.log('WebSocket closed');
    }
    socket.onmessage = function (e) {
      console.log('WebSocket recieved');
      console.log(e.data);
    }
    socket.onerror = function (e) {
      console.log('WebSocket error');
      console.log(e);
    }
  }
</script> {{ template "footer" }} {{end}}