{{define "changes"}} {{ template "header" }}

<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">Changes</h1>
    <p class="lead">Every time the Steam library gets updated, a change record is created. We use these to keep website information up to date.</p>
  </div>

  {{ range $key, $value := .Changes }}

  <h5>
    <a href="/changes/{{ .ChangeID }}">{{ .ChangeID }}</a>
  </h5>

  {{ end }}

</div>

<script>
  // Handle WebSockets
  if (window.WebSocket === undefined) {
    console.log('Your browser does not support WebSockets');
  } else {
    var socket = new WebSocket("ws://" + location.host + "/websocket");

    socket.onopen = function (e) {
      console.log('WebSocket opened');
    };
    socket.onclose = function (e) {
      console.log('WebSocket closed');
    }
    socket.onmessage = function (e) {
      console.log('WebSocket recieved');
      console.log(e.data);
    }
    socket.onerror = function (e) {
      console.log('WebSocket error');
      console.log(e);
    }
  }
</script> {{ template "footer" }} {{end}}