{{define "change"}} {{ template "_header" . }}

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Change {{ .Change.GetName }}</h1>
        <p class="lead"></p>
    </div>

    <div class="card">
        <div class="card-header">

            <h2>Apps</h2>
        {{ range $key, $value := .Change.Apps }}
            <div>
                <a href="/apps/{{ $value }}">App {{ $value }}</a>
            </div>
        {{ end }}

            <h2>Packages</h2>

        {{ range $key, $value := .Change.Packages }}

            <div>
                <a href="/players/{{ $value }}">App {{ $value }}</a>
            </div>

        {{ end }}

        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}