{{define "changes"}} {{ template "_header" . }}

<div class="container" id="changes-page">

    <div class="jumbotron">
        <h1 class="display-4"><i class="fas fa-exchange-alt"></i> Changes</h1>
        <p class="lead">Every time the Steam library gets updated, a change record is created. We use these to keep website information up to date.</p>
    </div>

    <div class="card">
        <div class="card-header bg-light text-white">

            <h5 class="float-right" style="margin-bottom: 0;">
                <span class="badge badge-secondary" id="live-badge">Live</span>
            </h5>

        </div>
        <div class="card-body">

            <ul class="list-unstyled">

            {{ range $key, $value := .Changes }}
                <li class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Change {{ .ChangeID }}</h5>
                        <p class="text-muted" style="margin-bottom: 0;">
                            <span data-toggle="tooltip" data-placement="top" title="{{ .GetNiceDate }}" data-livestamp="{{ .GetTimestamp }}">{{ .GetNiceDate }}</span>
                            <a href="/changes/{{ .ChangeID }}"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                        </p>
                        <p class="text-muted" style="margin-bottom: 0;">{{ apps .Apps $.Apps }}</p>
                        <p class="text-muted">{{ packages .Packages $.Packages }}</p>
                    </div>
                </li>
            {{ end }}
            </ul>
        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}
