{{define "chat"}} {{ template "header" . }}

<div class="container" id="chat-page">

    <div class="jumbotron">
        <a href="https://discord.gg/c5zrcus">
            <img src="/assets/img/discord.png" alt="" class="float-right" style="height: 105px;">
        </a>
        <h1 class="display-4">Chat</h1>
        <p class="lead">See what's going on, on our <a href="https://discord.gg/c5zrcus">Discord chat server</a>.</p>
    </div>

    <div class="card">
        <div class="card-header bg-light text-white">

            <h5 class="float-right" style="margin-bottom: 0;">
                <span class="badge badge-secondary" id="live-badge">Live</span>
            </h5>

            <ul class="nav nav-tabs card-header-tabs" role="tablist">
            {{ range $key, $value := .Channels }}
                <li class="nav-item">
                    <a class="nav-link{{ if eq $.ChannelID .ID }} active{{ end }}" href="/chat/{{ .ID }}" role="tab">{{ .Name }}</a>
                </li>
            {{ end }}
            </ul>

        </div>
        <div class="card-body">

            <ul class="list-unstyled">

            {{ range $key, $value := .Messages }}
                <li class="media">
                    <img class="mr-3" src="https://cdn.discordapp.com/avatars/{{ .Author.ID }}/{{ .Author.Avatar }}.png?size=128" alt="{{ .Author.Username }}">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ .Content }}</h5>
                        <p class="text-muted">By {{ .Author.Username }}</p>
                    </div>
                </li>
            {{ end }}
            </ul>
        </div>
    </div>

</div>

{{ template "footer" }} {{end}}