{{define "commits"}} {{ template "header" }}

<div class="container" id="changelog-page">

    <div class="jumbotron">
        <h1 class="display-4">Changelog</h1>
        <p class="lead">
            The latest commits to the code base. If a commit is on this list it does not mean it's in the latest deployment. Future plans can be found on our
            <a href="https://trello.com/b/mi2sDpBS/steam-authority">Trello</a>.
        </p>
    </div>

    <ul class="list-unstyled">
    {{ range $key, $value := .Commits }}

        <li class="media">
            <img class="mr-3" src="{{ .Author.AvatarURL }}" alt="{{ .Author.Login }}">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ .Commit.Message }}</h5>
                <p class="text-muted">
                    <span data-livestamp="{{ .Commit.Author.Date.Unix }}">{{ .Commit.Author.Date.Unix }}</span>
                    <a href="{{ .HTMLURL }}">
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </li>

    {{ end }}
    </ul>
</div>
{{ template "footer" }} {{end}}
