{{define "commits"}} {{ template "_header" . }}

<div class="container" id="commits-page">

    <div class="jumbotron">
        <h1 class="display-4">Commits</h1>
        <p class="lead">
            The latest commits to the code base. If a commit is on this list it does not mean it's in the latest deployment.
        </p>
    </div>

    <div class="card">
        <div class="card-body">

            <ul class="list-unstyled">
            {{ range $key, $value := .Commits }}

                <li class="media">
                {{/*<img class="mr-3 rounded" src="{{ .Author.AvatarURL }}" alt="{{ .Author.Login }}">*/}}
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ .Commit.Message }}</h5>
                        <p class="text-muted">
                            <span data-livestamp="{{ .Commit.Author.Date.Unix }}">{{ .Commit.Author.Date.Unix }}</span>
                            <a href="{{ .HTMLURL }}">
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                </li>

            {{ end }}
            </ul>

        </div>
    </div>

</div>
{{ template "_footer" }} {{end}}
