{{define "contact"}} {{ template "header" . }}

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Contact</h1>
        <p class="lead">Get in touch.</p>
    </div>

    <div class="card">
        <div class="card-body">

            <form action="/contact" method="post">
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
                        </div>

                    </div>
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                        </div>

                    </div>
                    <div class="col-sm-12">

                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="3" name="message" required></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Send</button>

                    </div>
                </div>
            </form>

        </div>
    </div>


</div>

{{ template "footer" }} {{end}}