{{define "donate"}} {{ template "header" }}

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Donate</h1>
        <p class="lead">Help pay for the server costs or just buy me a beer.</p>
    </div>


    <div class="row">
        <div class="col-sm">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fab fa-patreon"></i> Patreon
                    </h5>
                    <p class="card-text">Subscribe to me on Patreon.</p>
                    <a href="https://www.patreon.com/jimeagle" class="btn btn-primary">Donate</a>
                </div>
            </div>

        </div>
        <div class="col-sm">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fab fa-paypal"></i> PayPal
                    </h5>
                    <p class="card-text">Send a one off donation with PayPal.</p>
                    <a href="https://paypal.me/jimeagle/10" class="btn btn-primary">Donate</a>
                </div>
            </div>

        </div>
        <div class="col-sm">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fab fa-btc"></i> Bitcoin
                    </h5>
                    <p class="card-text">Send a one off donation with Bitcoin.</p>
                    <a href="bitcoin:1fEzg5JTUhyo6Pe1gpuRZp3gLTyTU22cf" data-toggle="modal" data-target="#bcModal" class="btn btn-primary">Donate</a>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="bcModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Donate Bitcoin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">

                    <a href="bitcoin:1fEzg5JTUhyo6Pe1gpuRZp3gLTyTU22cf">
                        <img src="/assets/img/bitcoin-qr-code.png" alt="1fEzg5JTUhyo6Pe1gpuRZp3gLTyTU22cf" style=" display: block; margin: 0 auto;">
                    </a>

                </div>
                <div class="modal-footer">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fab fa-btc"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Bitcoin Address" value="1fEzg5JTUhyo6Pe1gpuRZp3gLTyTU22cf" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{{ template "footer" }} {{end}}