{{define "experience"}} {{ template "_header" . }}

<div class="container" id="xp-page">

    <div class="jumbotron">
        <h1 class="display-4"><i class="fas fa-level-up-alt"></i> Experience</h1>
        <p class="lead">Check how much XP you need to go up a level.</p>
    </div>

    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
            {{ range $key, $value := .Chunks }}
                <table class="table table-hover table-sm table-striped">
                    <thead>
                    <tr>
                        <th scope="col" width="25%">Level</th>
                        <th scope="col" width="25%">Start XP</th>
                        <th scope="col" width="25%">End XP</th>
                        <th scope="col" width="25%">For Next Level</th>
                    </tr>
                    </thead>
                {{ range $keyx, $valuex := $value }}
                    <tr data-level="{{ .Level }}">
                        <td width="25%">{{ comma .Level }}</td>
                        <td width="25%">{{ comma .Start }}</td>
                        <td width="25%">{{ comma .End }}</td>
                        <td width="25%">{{ comma .Diff }}</td>
                    </tr>
                {{ end }}
                </table>
            {{ end }}
            </div>

        </div>
    </div>

</div>

{{ if gt .Level 0}}
<script>
    var scrollTo = '[data-level={{ .Level }}]'
</script> {{end}} {{ template "_footer" }} {{end}}
