{{define "experience"}} {{ template "header" }}

<div class="jumbotron">
  <h1 class="display-4">Experience</h1>
</div>

<div class="table-responsive">

  <table class="table table-bordered table-striped table-hover table-condensed">
    <tr>
      <th width="25%">Level</th>
      <th width="25%">Start XP</th>
      <th width="25%">End XP</th>
      <th width="25%">Difference</th>
    </tr>
  </table>

  {{ range $key, $value := .Rows }}

  <table class="table table-bordered table-striped table-hover table-condensed">
    <tr class="">
      <td width="25%">{{ .Level }}</td>
      <td width="25%">{{ .Start }}</td>
      <td width="25%">{{ .End }}</td>
      <td width="25%">{{ .Count }}</td>
    </tr>
  </table>

  {{ end }}

</div>

{{ template "footer" }} {{end}}