{{define "genres"}} {{ template "header" }}

<div class="container" id="genres-page">

    <div class="jumbotron">

        <div class="row">
            <div class="col-sm-6">

                <h1 class="display-4">Genres</h1>
                <p class="lead">
                {{ len .Genres }} Genres.
                    Sort by <span class="sort" data-sort="genre-name">genre</span>.
                    Sort by <span class="sort" data-sort="genre-games">games</span>.
                </p>

            </div>
            <div class="col-sm-6">

                <form class="mt-4">
                    <div class="input-group input-group-lg mb-4">
                        <input class="form-control genres-search" type="text" placeholder="Search for a Genre" required="required">
                    </div>
                </form>

            </div>
        </div>

    </div>

    <div class="row genres-list">
    {{ range $key, $value := .Genres }}
        <div class="col-sm-4 mb-2" id="genre_{{ .ID }}">

            <div class="list-group">
                <a href="{{ .GetPath }}" class="list-group-item list-group-item-action list-group-item-secondary">
                    <i class="fas fa-star"></i>
                    <h6 class="mb-1 genre-name">{{ .Name }}</h6>
                    <small>
                        <span class="genre-games">{{ .Games }}</span> Games
                    </small>
                </a>
            </div>

        </div>
    {{ end }}
    </div>

</div>

{{ template "footer" }} {{end}}
