{{define "header"}}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/compiled.min.css">

    <title>Steam</title>

    <script async defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125104-31"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-125104-31');
    </script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">SA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/players">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/apps">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/donate">Donate</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">More</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/faqs">FAQs</a>
                        <a class="dropdown-item" href="/changelog">Changelog</a>
                        <a class="dropdown-item" href="/credits">Credits</a>
                        <a class="dropdown-item" href="/experience">Experience</a>
                        <a class="dropdown-item" href="/tags">Tags</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{end}}
