{{define "news"}} {{ template "header" . }}

<div class="container" id="news-page">

    <div class="jumbotron">

        <h1 class="display-4">News</h1>
        <p class="lead">Keep up to date</p>

    </div>

    <div class="card">
        <div class="card-header bg-light text-white">

            <h5 class="float-right" style="margin-bottom: 0;">
                <span class="badge badge-secondary" id="live-badge">Live</span>
            </h5>

        </div>
        <div class="card-body">

            <ul class="list-unstyled changelog">

            {{ range $key, $value := .Articles }}

                <li class="media">

                {{ if eq (index $.Apps .AppID).Icon "" }}
                    <img class="mr-3" src="/assets/img/no-app-icon.png" alt="{{ (index $.Apps .AppID).Name }}">
                {{ else }}
                    <img class="mr-3" src="{{ (index $.Apps .AppID).Icon }}" alt="{{ (index $.Apps .AppID).Name }}">
                {{ end }}

                    <div class="media-body">
                        <h5 class="mt-0 mb-1"><a href="{{ (index $.Apps .AppID).GetPath }}#news">{{ .Title }}</a></h5>
                        <p class="text-muted">
                            <span>{{ (index $.Apps .AppID).Name }} - By {{.Author}} @ <span data-livestamp="{{ unix .Date }}">{{ unix .Date }}</span></span>
                        </p>
                    </div>
                </li>

            {{ end }}

            </ul>

        </div>
    </div>

</div>

{{ template "footer" }} {{end}}
