{{define "packages"}} {{ template "header" . }}

<div class="container" id="packages-page">

    <div class="jumbotron">

        <h1 class="display-4">Packages</h1>
        <p class="lead"></p>

    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
            <th scope="col">Name</th>
            <th scope="col">Billing Type</th>
            <th scope="col">License Type</th>
            <th scope="col">Status</th>
            <th scope="col">Apps</th>
            </thead>
        {{ range $key, $value := .Packages }}
            <tr data-link="/packages/{{ .ID }}">
                <td>{{.GetName}}</td>
                <td>{{.GetBillingType}}</td>
                <td>{{.GetLicenseType}}</td>
                <td>{{.GetStatus}}</td>
                <td>{{len .GetApps}}</td>
            </tr>
        {{ end }}
        </table>
    </div>

</div>

{{ template "footer" }} {{end}}
