{{define "players"}} {{ template "header" }}

<div class="jumbotron">
    <h1 class="display-4">Players</h1>
    <p class="lead">Ranks are updated every midnight (GMT).</p>
</div>

<form action="/players" method="post">
    <div class="input-group input-group-lg mb-4">
        <input class="form-control" type="text" placeholder="Search Player" name="id">
        <div class="input-group-append">
            <input type="submit" value="Search" class="input-group-text">
        </div>
    </div>
</form>

<table class="table table-hover table-sm">
    <thead>
        <th scope="col">Rank</th>
        <th scope="col">Player</th>
        <th scope="col">Country</th>
        <th scope="col">Level</th>
        <th scope="col">Games Owned</th>
        <th scope="col">Badges</th>
        <th scope="col">Playtime</th>
        <th scope="col">Time on Steam</th>
    </thead>
    {{ range $key, $value := .Players }}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {{ end }}
</table>


{{ template "footer" }} {{end}}