{{define "player"}} {{ template "_header" . }}

<div class="container" id="player-page">

    <div class="jumbotron">
        <img src="{{ .Player.GetAvatar }}" alt="{{ .Player.PersonaName }}" class="rounded-left">
        <h1 class="display-4">
        {{ .Player.PersonaName }}
            <span class="badge badge-secondary">{{ .Player.Level }}</span>
        </h1>
        <p class="lead">x</p>
    </div>

    <div class="card">
        <div class="card-header bg-light text-white">

            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#details" role="tab">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#friends" role="tab">Friends ({{ .Player.FriendsCount }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#achievements" role="tab">Achievements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#badges" role="tab">Badges ({{ .Player.BadgesCount }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#games" role="tab">Games ({{ .Player.GamesCount }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#groups" role="tab">Groups ({{ len .Player.Groups }})</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane show active" id="details" role="tabpanel">

                    <div class="row">
                        <div class="col-sm">
                            x
                        </div>
                        <div class="col-sm">
                            x
                        </div>
                        <div class="col-sm">
                            x
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="friends" role="tabpanel">

                    <div class="list-group list-group-flush">
                        <span class="list-group-item active">Friends</span>
                    {{ range $key, $value := .Friends }}


                    {{ if ne .PersonaName "" }}
                        <a href="{{.GetPath}}" class="list-group-item list-group-item-action d-flex justify-content-betweenx align-items-center">
                            <img class="avatar" src="{{ .GetAvatar }}" alt="">
                            <span class="mr-auto">{{ .PersonaName }}</span>
                            <span class="badge badge-primary badge-pill" data-toggle="tooltip" data-placement="top" title="Level">{{ .Level }}</span>
                        </a>
                    {{else}}
                        <span class="list-group-item list-group-item-action">
                                    <span class="text-muted">Added to the <a href="/queues">queue</a> <i class="fas fa-spinner fa-spin"></i></span>
                                </span>
                    {{end}}

                    {{ end }}
                    </div>

                </div>
                <div class="tab-pane" id="achievements" role="tabpanel">Achievements</div>
                <div class="tab-pane" id="badges" role="tabpanel">Badges</div>
                <div class="tab-pane" id="games" role="tabpanel">Games</div>
                <div class="tab-pane" id="groups" role="tabpanel">Groups</div>
            </div>
        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}