{{define "player"}} {{ template "_header" . }}

<div class="container" id="player-page">

    <div class="jumbotron">
        <img src="{{ .Player.Avatar }}" alt="{{ .Player.PersonaName }}" class="rounded-left">
        <h1 class="display-4">
        {{ .Player.PersonaName }}
            <span class="badge badge-secondary">{{ .Player.Level }}</span>
        </h1>
        <p class="lead">x</p>
    </div>

    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">

            <div class="list-group list-group-flush">
            {{ range $key, $value := .Friends }}


            {{ if ne .PersonaName "" }}
                <a href="{{.GetPath}}" class="list-group-item list-group-item-action">
                {{ .PersonaName }}
                </a>
            {{else}}
                <span class="list-group-item list-group-item-action">
                    <span class="text-muted">Added to the <a href="/queues">queue</a> <i class="fas fa-spinner fa-spin"></i></span>
                </span>
            {{end}}

            {{ end }}
            </div>

        </div>
    </div>

</div>

{{ template "_footer" }} {{end}}